body {
    background: #1a1a1a;
    background-size: 100% 100%;
    margin: 0;
    min-height: 100vh;
    /* Масштабируем фон */
    position: relative;
}

.middle {
    margin: 10px auto;
    width: 80%;
}


/*Header*/

header {
    width: 100%;
    background: blue;
    margin: 50px auto 0;
    background-color: rgba(72, 72, 72, 0.7);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 2vw;
    border-bottom: 5px solid red;
    /* width: 100%;
    margin: 0;
    opacity: 0.9;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7) */
}

.gk {
    padding: .5em;
    align-content: center;
    text-align: center;
}

.gk.one {
    grid-column-start: 2;
    grid-column-end: 3;
}

.gk.two {
    grid-column-start: 3;
    grid-column-end: 4;
}

nav.top {
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid grey;
    height: 50px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

nav.top>div a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: blanchedalmond;
}

nav.top>div a:hover {
    color: white !important;
    background: black;
    opacity: 0.7;
}

.link1 {
    grid-column: 1;
}

.link2 {
    grid-column: 2;
}

.link3 {
    grid-column: 3;
}

.link4 {
    grid-column: 4;
}

.tel {
    display: inline-block;
    float: right;
    color: white;
}

#vel {
    color: yellow;
}

#mts {
    color: red;
}

#life {
    color: greenyellow;
}

#title {
    grid-column-start: 2;
    max-width: 100%;
    height: auto;
    /* color: #fb0b0b; */
}

#titleDescr {
    color: #ffffff;
}


/*Header*/


/*PhotosLine*/

.present {
    height: 300px;
    background-image: url("./Pictures/wetRug.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    justify-content: find; */
}

.tit {
    font-size: x-large;
    color: navajowhite;
    display: block;
    margin: auto;
    /* margin-top: 50px; */
    width: 80%;
    text-align: center;
}

.form-container {
    height: 80%;
    display: flex;
    align-items: center;
}

.form-head {
    width: 20%;
    margin: auto;
}

.head-input {
    margin-bottom: 5px;
    text-align: center;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, .5);
    font-size: 1.75em;
    padding: .25em .5em .3125em;
    color: azure;
    border-radius: .25em;
    background: transparent;
    transition: all .100s;
}

.headbutton {
    position: relative;
    display: inline-block;
    font-size: 100%;
    font-weight: 700;
    color: #fff;
    text-shadow: #053852 -1px 1px, #053852 1px 1px, #053852 1px -1px, #053852 -1px -1px;
    text-decoration: none;
    user-select: none;
    padding: .3em .7em;
    outline: none;
    border-radius: 7px;
    background: #053852 repeating-linear-gradient(135deg, #053852, #053852 10px, #1679ad 10px, #1679ad 20px, #053852 20px);
    box-shadow: inset -2px -2px rgba(0, 0, 0, .3), inset 2px 2px rgba(255, 255, 255, .3);
    transition: background-position 999999s, color 999999s, text-shadow 999999s;
}

.headbutton:hover {
    cursor: pointer;
    opacity: 0.8;
}


/*PhotosLine*/


/*Items*/

.content {
    height: fit-content;
    /* opacity: 0.3; */
}

.description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5vw;
}

.advantage-title {
    display: block;
    grid-column-start: 2;
    margin: 5px auto;
    color: #c2d895;
    font-size: xx-large;
    font-family: cursive;
}

.describe.start {
    color: #c2d895;
    font-size: larger;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.describe.end {
    color: #e91e63;
    font-size: larger;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.termo {
    color: aqua;
}

.advlist.item {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: left;
    font-size: large;
    color: #fff;
}

.itemIco {
    color: aqua;
}


/*COOLS-GRID*/

.cools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 0.5fr;
    grid-column-gap: 5px;
}

.frame {
    height: 200px;
    background-size: cover;
    position: relative;
    /* Фон занимает всю доступную площадь */
}

.first {
    background-image: url("./Pictures/advanteges/protection.jpg");
}

.second {
    background-image: url("./Pictures/advanteges/safety.jpg");
}

.third {
    background-image: url("./Pictures/advanteges/exploitation.jpg");
}

.fourth {
    background-image: url("./Pictures/advanteges/esthetics.jpg");
}

.first-info {
    color: white;
    font-family: cursive;
    text-align: center;
    border: 1px solid #5f4116;
    border-top: 2px solid blue;
}

.frame-title {
    display: inline-block;
    background: #ffc51682;
    text-align: center;
    font-size: 3vw;
    white-space: nowrap;
    font-style: unset;
    font-family: fantasy;
    position: absolute;
    top: 50%;
    width: 100%;
    color: #0f3a11;
}


/*COOLS-GRID*/


/* frame {
    display: grid;
    grid-auto-columns: 1fr 1fr;
    position: relative;
    color: #d6d6d6;
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: coral;
}

.frame .info {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px;
    color: ghostwhite;
    background-color: rgba(68, 21, 4, 0.74);
}

.frameImg {
    display: inline-block;
    padding: 3px;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

.more {
    color: aquamarine;
}

.price {
    display: block;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
}

.model {
    display: block;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 2;
} */


/*Items*/


/*footer*/

footer {
    margin-top: 20px;
    display: grid;
    justify-content: center;
    width: 100%;
    height: 200px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.bottom a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    font-family: cursive;
}

footer li {
    list-style-type: none;
}


/* Убираем маркеры */


/*footer*/